@model IEnumerable<KeepPasswords.Models.PasswordsKeeper.PasswordItem>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="input-icon mb-3">
                <input type="text" id="serviceNameSearchInput" value="" class="form-control" placeholder="Поиск" onkeyup="onSearch();">
                <span class="input-icon-addon">
                    <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                </span>
            </div>
           

        </div>
        <div class="list-group list-group-flush">
            @foreach(var item in Model)
            {
                <div class="list-group-item" onclick="onShowModalUpdatePassword('@item.ItemId')" style="cursor: pointer !important;">
                    <div class="row align-items-center">
                        <div class="col-auto"></div>
                        <div class="col-auto">
                            <label>
                                <span class="avatar" style="background-image: url(@item.IconURL);cursor: pointer !important;"></span>
                            </label>
                        </div>
                        <div class="col text-truncate">
                            <label class="text-reset d-block serviceName" style="cursor: pointer !important;">@item.ServiceName</label>
                            <div class="d-block text-secondary text-truncate mt-n1" style="cursor: pointer !important;">@item.UserName</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
