
<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="progress">
            <div class="progress-bar progress-bar-indeterminate bg-green"></div>
        </div>
    </div>
</div>