@model List<KeepPasswords.Models.PhotoKeeper.PhotoItem>

    @foreach(var item in Model)
    {
    <div class="col">
        <a data-fancybox="gallery" href="data:image/jpeg;base64,@(Convert.ToBase64String(item.DecryptedPhotoBytes))">
            <!-- Photo -->
            <div class="img-responsive img-responsive-1x1 rounded border" style="background-image: url(data:image/jpeg;base64,@(Convert.ToBase64String(item.DecryptedPhotoBytes)))"></div>
        </a>
    </div>
    }